{# This Source Code Form is subject to the terms of the Mozilla Public
 # License, v. 2.0. If a copy of the MPL was not distributed with this
 # file, You can obtain one at http://mozilla.org/MPL/2.0/. -#}

{% extends "mozorg/contribute/contribute-base.html" %}

{% block page_title %}{{_('Thank you!')}}{% endblock %}

{% block body_id %}confirm{% endblock %}

{% block content %}
<main role="main">
  <header class="page-head">
    <div class="contribute-masthead">

      <div class="container">
        <nav class="contribute-nav">
          <span class="toggle" role="button" aria-controls="contribute-nav-menu" tabindex="0">{{_('Menu')}}</span>
          <ul id="contribute-nav-menu">
            <li class="nav-landing"><a href="{{ url('mozorg.contribute') }}">{{ _('Why<br> volunteer') }}</a></li>
            <li class="nav-events"><a href="{{ url('mozorg.contribute.events') }}">{{ _('Find<br> an event') }}</a></li>
            <li class="nav-stories"><a href="{{ url('mozorg.contribute.stories') }}">{{ _('Meet<br> Mozillians') }}</a></li>
          </ul>
        </nav>
      </div>
    </div>

    <div class="container">
      {# L10n: This <br> is presentational. #}
      <h1 class="page-title">{{ _('Thanks!') }}</h1>
      <p class="section-tagline">
        We’re thrilled to see that you’re interested in volunteering and can’t wait to get you started. Keep an eye on your inbox for an important message from us.
      </p>
    </div>
  </header>

  <section class="section">
    <div class="container">
      <div class="confirm-body">
        <div class="mozillians-profile"></div>
        <h2 class="section-title">{{ _('In the meantime&hellip;') }}</h2>
        <p class="section-tagline">{{ _('You can create your Mozillians account now to connect with fellow Mozillians.' ) }}</p>
        <p class="cta-other"><a href="#other" role="button" aria-controls="other">{{ _('No thanks, I’ll just wait for the email') }}</a></p>

        <aside id="other">
          <h3>{{ _('Here are a few other ways you can support Mozilla right now.') }}</h3>
          <ul class="other-actions">
            <li><a href="https://sendto.mozilla.org/" class="other-donate">{{ _('Donate to Mozilla') }}</a></li>
            <li><a href="{{ url('mozorg.about.manifesto') }}" class="other-read">{{ _('Read our Manifesto') }}</a></li>
            <li><a href="https://gear.mozilla.org" class="other-shop">{{ _('Buy a Mozilla t-shirt') }}</a></li>
            <li><a href="https://twitter.com/mozilla" class="other-twitter">{{ _('Follow us on Twitter') }}</a></li>
          </ul>
        </aside>

        <p class="cta-mozillians"><a href="#">{{ _('Yes, create my Mozillians account') }} *</a></p>
        <p class="note">* {{ _('You will be asked to sign in before proceeding') }}</p>
      </div>
    </div>
  </section>


</main>
{% endblock content %}

